<div style="font-size: 2rem; display: flex; justify-content: center; gap: 20px; margin-top: 1rem;">
   <span class="nf-icon" title="Python"></span>
   <span class="nf-icon" title="Git"></span>
   <span class="nf-icon" title="Docker"></span>
   <span class="nf-icon" title="C++"></span>
   <span class="nf-icon" title="Java"></span>
 
   <img src="{{ "img/skills/pytorch.png" | relURL }}" alt="PyTorch" title="PyTorch"
        style="height: 32px; vertical-align: middle; margin-top: 7px;">
   <img src="{{ "img/skills/jenkis.png" | relURL }}" alt="Jenkins" title="Jenkins"
        style="height: 32px; vertical-align: middle; margin-top: 8px;">
 </div>