@font-face {
    font-family: 'NerdSymbols';
    src: url('/fonts/NerdFontsSymbolsOnly.ttf') format('truetype');
  }
  
  .nf-icon {
    font-family: 'NerdSymbols';
    font-size: 2rem;
    color:rgb(6, 85, 124);
  }
  